html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #7aaaf7;
    height: 10vh;
    width: 100%;
    margin: 0;
}

.page-name {
    margin-left: 30%;
}

.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.sidebar {
    background-color: #3f8da7;
    height: 90vh;
    width: 30%;
}

.tasks {
    background-color: #93c4f4;

    width: 100vw;
}

.home {
    height: 30vh;
    background-color: #bbd5ff;
}

.add-project-button {
    width: 80%;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 10px;
    padding: 5px;
}

.project {
    height: 50px;
    border: solid 1px black;
    background-color: #93c4f4;
    margin: 10px 30px;
    position: relative;
}

.projects {
    display: flex;
    flex-direction: column;
}

.delete-project {
    height: 100%;
    background-color: white;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
}

.add-task {
    margin-bottom: 50px;
}

.task-header {
    margin-bottom: 50px;
}

#all-tasks-id {
    margin-bottom: 50px;
}

.edit-project {
    margin-bottom: 20px;
}

.important-task, .new-important-task {
    margin-bottom: 30px;
}

#allTasksButton, #todayButton, #next7Button, #importantButton {
    border: solid 0.5px black;
    margin: 3px;
    border-radius: 5px;
    padding: 7px;
}

#allTasksButton, #todayButton, #next7Button, #importantButton:hover {
    cursor: pointer;
}
