html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #b8d3ff;
    height: 10vh;
    width: 100%;
    margin: 0;
}

.main {
    display: flex;
    flex-direction: row;
    height: 90vh;
}

.sidebar {
    background-color: #3f8da7;
    height: 90vh;
    width: 30%;
}

.tasks {
    background-color: #93c4f4;

    width: 100vw;
}

.home {
    height: 30vh;
    background-color: #8db0e9;
}

.add-project-button {
    display: block;
}

.project {
    height: 50px;
    border: solid 1px black;
    background-color: #93c4f4;
    margin: 10px 30px;
    position: relative;
}

.delete-project {
    height: 100%;
    background-color: white;
    width: 30%;
    position: absolute;
    right: 0;
    top: 0;
}

.add-task {
    margin-bottom: 50px;
}

.task-header {
    margin-bottom: 0;
}

#all-tasks-id {
    margin-bottom: 50px;
}

.edit-project {
    margin-bottom: 20px;
}

.important-task, .new-important-task {
    margin-bottom: 30px;
}
