html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: #978d7f;
    color: white;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    background-color: #ead7c3;
    height: 10vh;
    width: 100%;
    margin: 0;
}

.page-name {
    margin-left: 30%;
}

.main {
    display: flex;
    flex-direction: row;
    height: max-content;
    min-height: 80vh;
}

.sidebar {
    background-color: #dce0d9;
    width: 30%;
}

.tasks {
    background-color: #fbf6ef;

    width: 100vw;
}

.home {
    height: 30vh;
    background-color: #dce0d9;
    display: flex;
    flex-direction: column;
}

.add-project-button {
    width: 60%;
    align-self: center;
    margin-bottom: 50px;
    margin-top: 20px;
    padding: 10px;
    border: solid 1px black;
    border-radius: 4px;
    background: #ead7c3;
}

.project {
    height: 50px;
    border: solid 1px black;
    background-color: #ead7c3;
    margin: 10px 30px;
    position: relative;
    border-radius: 3px;
}

.project:hover {
    cursor: pointer;
}

.project-title {
    margin: 0;
    margin-left: 20px;
    margin-top: 10px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.delete-project {
    height: 100%;
    width: 15%;
    position: absolute;
    right: 0;
    top: 0;
}

.delete-project:hover {
    cursor: pointer;
}

.add-task {
    margin-bottom: 50px;
    padding-left: 50px;
}

.task-header {
    margin-bottom: 50px;
    margin-left: 50px;
}


.task-header-proj {
    padding-left: 50px;
}


#all-tasks-id {
    margin-bottom: 50px;
}

.edit-project {
    margin-bottom: 20px;
}

.toggle-btn {
    background-color: #ead7c3;
}

.all-tasks-button:hover, .today-button:hover, .next-7-button:hover, .important-button:hover {
    cursor: pointer;
    background-color: #c7ab8d;
    width: 90%;
    border: solid 0.5px black;
    border-radius: 3px;
}

.all-tasks-button, .today-button, .next-7-button, .important-button {
    margin: 3px;
    padding: 3px;
    width: 90%;
    align-self: center;
    margin-top: 10px;
    background-color: #ead7c3;
    font-size: 15px;
    border: solid 0.5px black;
    display: flex;
    flex-direction: row;
}


.toggle-btn.clicked {
    cursor: pointer;
    background-color: #978d7f;
    border-radius: 3px;
}


.trash-svg {
    width: 30px;
    margin-top: 10px;
    margin-left: 5px;
}

.star-filled-svg, .star-empty-svg, .cancel-svg {
    width: 25px;
}

.all-tasks-svg, .today-svg, .next-7-svg, .important-svg {
    height: 25px;
    margin-right: 25px;
}

.specific-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 5px;
}

.new-div-task {
    width: 70%;
}

.add-project-button:hover, .new-div-task:hover, .add-task:hover, .task-header-proj:hover {
    cursor: pointer;
}

.cancel-svg:hover, .star-empty-svg:hover, .star-filled-svg:hover {
    cursor: pointer;
}
