body {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#board {
    display: grid;
    margin-top: 5%; 
    width: min-content;
}

.tile {
    width: 80px;
    height: 80px;
    border: solid 1px black;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    background-color: lightgray;
}

.mine {
    text-align: center;
    line-height: 80px; /* Adjust this value based on the tile height */
}