body {
    background-color:rgb(186, 211, 236);
}

.grid-container {
    display: grid;
    border: solid 1px rgb(237, 223, 223);
    border-radius: 2px;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 25px;
    left: 500px;
}

.grid-item {
    display: grid;
    border: solid 1px rgb(139, 142, 177);
    border-radius: 2px;
    height: auto;
    width: auto;
}
